.card_item{
    background: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid transparent;
}

.card_item:hover{
    transform: scale(1.1);
    border: 1px solid gray;
    transition: all 0.3;
}

.card_top{
    height: 300px;

}

.card_top img{
    width: 100%;
    height: 100%;
}

.card_info{
    color: var(--font-primary);
    padding: 20px 10px;
    text-align: center;
}

.card_info h4{
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 10px;
}