*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    font-size: 1em;
    font-weight: 400;
    --primary-color: #0f171e;
    --secondary-color: #1a242f;
    --font-primary: #fff;
    --font-secondary: #79b8f3;
}

body{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}